.respond
	width: 100%
	display: inline-block
	background-size: cover
	background-position: right
	background-repeat: no-repeat
	padding: 45px 0
	

.slider_wr
	max-width: 904px
	width: 100%
	min-height: 357px
	opacity: 0.94
	background-color: white
	display: table
	margin: 0 auto
	padding: 45px
	.item

		p.respond_text
			margin: 0
			font-size: 27px
			line-height: 34px
			color: #000
			text-align: center
			margin-bottom: 20px
		span
			font-size: 15px
			display: block
			text-align: center
			font-weight: 500
			color: #848484
		a.button_green
			display: table
			margin: 20px auto	30px	

	.owl-dots
		display: table
		margin: 0 auto
		.owl-dot
			display: inline-block
			float: left
			margin-right: 12px 
			width: 10px
			height: 10px
			border-radius: 50%
			border: 1px solid #555
			background-color: #fff
			&:last-child
				margin-right: 0	
			&.active
				background-color: #555	
	.owl-nav
		position: relative
		width: 1px
		display: table
		margin: 0 auto

	.owl-prev
		position: absolute
		left: -20px
		color: #999
		left: -55px
		top: -11px	
		&:hover
			color: #000
	.owl-next
		position: absolute
		right: -20px
		color: #999
		top: -11px	
		right: -55px
		&:hover
			color: #000

