@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: Gotham
	overflow-x: hidden
	color: #555

a
  text-decoration: none
  -moz-transition: all 0.2s ease
  -webkit-transition: all 0.2s ease
  transition: all 0.2s ease
  outline: none
  
  &:hover, &:active, &:focus
    text-decoration: none
    -moz-transition: all 0.2s ease
    -webkit-transition: all 0.2s ease
    transition: all 0.2s ease
    outline: none

ul, li
  list-style: none
  list-style-type: none
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
  -webkit-padding-start: 0px
  padding: 0
  margin: 0    

.title
	color: #363636
	font-size: 27px
	line-height: 44px
	text-align: center
	margin-bottom: 25px

.descript
	color: #555
	font-size: 19px
	line-height: 27px
	text-align: center
	margin-bottom: 25px


// ------------------------------------ main inf
.main_inform
	display: inline-block
	width: 100%
	height: 382px
	background-size: cover
	background-position: right
	background-repeat: no-repeat
	.main_inform_item
		width: 669px
		margin-top: 70px
		opacity: 0.94
		background-color: white
		padding: 30px 35px
		.main_inform_title
			color: #202020
			font-family: Antenna
			font-size: 45px
			margin-bottom: 25px
			line-height: 29px
		.main_inform_descr
			font-size: 19px
			margin: 0
			margin-bottom: 25px
			line-height: 27px	

// --------------------------------- --------- step 2

.step_2
	display: inline-block
	width: 100%
	background-color: $grey
	padding: 40px 0
	margin-bottom: 500px


.graph_item
	display: inline-block
	width: 100%
	position: relative
	.graph_item_name
		display: inline-block
		float: left
		width: 200px
		padding-right: 25px
		font-size: 15px
		text-align: right
		margin: 0
		margin-bottom: 10px
	.graph_item_line
		width: calc(100% - 200px)
		float: left
		display: inline-block
		position: relative
		height: 5px
		background-color: gainsboro
		border-radius: 10px
		margin-top: 12px
		.graph_item_line_toch
			position: absolute
			width: 17px
			height: 17px
			background-color: #9fd250
			border-radius: 50%
			display: inline-block
			top: -6px
			transition: all 0.5s ease

		  

.graph_item 

	.graph_item_line_toch
		animation-duration: 1s
		&.green
			background: #4fba40
		&.dark_green	
			background: #12a54a
		

	&:nth-child(2)	
		.graph_item_line_toch
			animation-duration: 2s
		
	&:nth-child(3)	
		.graph_item_line_toch
			animation-duration: 2.5s
	&:nth-child(4)	
		.graph_item_line_toch
			animation-duration: 3s
		
	&:nth-child(5)	
		.graph_item_line_toch
			animation-duration: 3s	
	&:nth-child(6)	
		.graph_item_line_toch
			animation-duration: 3s	
	&:nth-child(7)	
		.graph_item_line_toch
			animation-duration: 3s	
	&:nth-child(8)	
		.graph_item_line_toch
			animation-duration: 3s		

	&:nth-child(9)	
		.graph_item_line_toch
			animation-duration: 3s				




@keyframes slideInLeft

	0% 
    
    left: 0
	100% 
    
    transform: translateX(0)
	










@import "media" // Всегда в конце
